.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}
.font{
    font-weight: 200;
}
.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #1f1f1f;
}

.rounded{
    border-radius: 7px;
}

.p1{
    padding: 10px;
}

.m1{
    margin: 5px;
}


::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #1a1a1a; /* Dark track color */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #555; /* Dark thumb color */
    border-radius: 5px; /* Rounded corners for the scrollbar */
    border: 2px solid #1a1a1a; /* Match track color for a smooth look */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #888; /* Lighter color on hover */
  }
  
  /* Firefox scrollbar styling */
  * {
    scrollbar-width: thin; /* Use a thinner scrollbar */
    scrollbar-color: #555 #1a1a1a; /* Thumb and track colors */
  }

